In [5]:
from bs4 import BeautifulSoup
import requests as uReq

### Golden State Warriors

In [6]:
url = 'https://www.espn.in/nba/team/stats/_/name/gs'
r = uReq.get(url)

In [7]:
r.close()

In [8]:
print(r)

<Response [200]>

In [9]:
html_page1 = r.content

In [11]:
soup = BeautifulSoup(html_page1, 'html.parser')

In [12]:
#soup = soup.prettify()

#### Get the table headers

In [13]:
# Table headers are in the <thead> tag
# We use the find_all method to get the list of all the table headers. We need to specify the class as weel to distinguish it from others
table_header = soup.find_all('thead', class_='Table__header-group Table__THEAD' )

In [14]:
# the length of table headers gives us the number of elements in this list or in other words
# the number of tags <thead>
len(table_header)

4

In [15]:
# now inside the table header we have the <tr> tag which specifies the table header row. Using the find method will return the first tag found
table_header_row = soup.find('tr', {'class': 'Table__TR Table__even'})

In [16]:
print(table_header_row)

<tr class="Table__TR Table__even"><th class="Table__TH" title="">Name</th></tr>

Our HTML file has two tables; one is for the Player Stats: All Splits and the second one is for Player Stats: Shooting Splits.
Each of the tables further has two table tags inside them and thus subsequent two thead and two tbody tags. The first one is for the names of the players while the second one is for the actual number stats. Thus when we use the find_all() method we need to specify the class to get the one which we require. As it turns out in this case the four table tags have the same class hence we will have to to get the tags of our choice by indexing them from the list.

- table_header[0] and table_header[2] are not of any importance to us

In [17]:
#table_header[1]

In [18]:
table_header_row = table_header[1].tr

In [19]:
#print(table_header_row)

In [20]:
table_headings = table_header_row.find_all('th')

In [21]:
table_headings[0].span.a.text

'GP'

In [22]:
table_headings_list = []
for heading in table_headings:
    table_headings_list.append(heading.span.a.text)
    
table_headings_list

['GP',
 'GS',
 'MIN',
 'PTS',
 'OR',
 'DR',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PF',
 'AST/TO',
 'PER']

#### Get Table Data

In [23]:
table_body = soup.find_all('tbody', class_='Table__TBODY')

In [24]:
len(table_body)

4

In [25]:
player_names1 = table_body[0]
player_stats1 = table_body[1]

In [26]:
names_rows1 = player_names1.find_all('tr', class_='Table__TR Table__TR--sm Table__even')

In [27]:
print(type(names_rows1))

<class 'bs4.element.ResultSet'>

In [28]:
print(len(names_rows1))

17

In [29]:
name_row = names_rows1[6]

In [30]:
name_row.td.span.a.text

'Gary Payton II'

In [31]:
player_names_list = []
for name_row in names_rows1:
    try:
        player_names_list.append(name_row.td.span.a.text)
    except:
        continue
    
player_names_list

['Stephen Curry',
 'Andrew Wiggins',
 'Jordan Poole',
 'Damion Lee',
 'Draymond Green',
 'Otto Porter Jr.',
 'Gary Payton II',
 'Nemanja Bjelica',
 'Quinndary Weatherspoon',
 'Kevon Looney',
 'Juan Toscano-Anderson',
 'Jonathan Kuminga',
 'Andre Iguodala',
 'Chris Chiozza',
 'Moses Moody',
 'Jeff Dowtin']

In [32]:
player_names_list.append('Total')

In [33]:
player_rows_list = player_stats1.find_all('tr', class_='Table__TR Table__TR--sm Table__even')

In [34]:
single_player_stats = player_rows_list[0].find_all('td', class_='Table__TD')

In [35]:
#single_player_stats.find('td', {'class':'Table__TD'})

In [36]:
single_player_stats[0].span

In [37]:
player_total_list = []
for row in range(len(player_rows_list)):
    #print(row)
    single_player_stats = player_rows_list[row]
    single_player_list = []
    for stats in single_player_stats.find_all('td',class_='Table__TD'):
        try:
            single_player_list.append(stats.span.text)
        except:
            continue
    #print(single_player_list)
    player_total_list.append(single_player_list)
    
print(player_total_list)

[['33', '33', '34.8', '27.7', '0.6', '4.7', '5.3', '6.0', '1.5', '0.5', '3.4', '2.0', '1.8', '23.75'], ['31', '31', '31.3', '19.0', '1.3', '3.2', '4.5', '1.8', '0.9', '0.6', '1.6', '1.8', '1.1', '17.38'], ['29', '28', '30.2', '17.6', '0.3', '3.1', '3.4', '3.4', '1.0', '0.2', '2.5', '2.9', '1.3', '14.63'], ['25', '2', '20.8', '8.4', '0.3', '2.8', '3.1', '1.0', '0.4', '0.1', '0.6', '1.6', '1.6', '10.86'], ['31', '31', '30.6', '8.4', '1.2', '6.8', '7.9', '7.5', '1.4', '1.2', '3.2', '2.8', '2.4', '15.65'], ['30', '3', '21.3', '8.2', '0.9', '4.0', '4.9', '1.4', '0.9', '0.5', '0.6', '1.3', '2.5', '15.90'], ['34', '5', '16.2', '7.7', '1.1', '2.3', '3.4', '0.8', '1.2', '0.2', '0.5', '1.6', '1.5', '21.03'], ['35', '0', '15.1', '6.7', '0.9', '3.1', '4.0', '1.6', '0.6', '0.3', '1.1', '1.6', '1.5', '15.32'], ['1', '0', '14.0', '6.0', '0.0', '1.0', '1.0', '0.0', '1.0', '1.0', '1.0', '4.0', '0.0', '15.59'], ['35', '35', '19.5', '6.0', '2.3', '4.0', '6.3', '1.5', '0.5', '0.8', '0.7', '2.7', '2.2', '15.43'], ['34', '3', '16.6', '4.9', '0.6', '2.3', '2.9', '2.2', '0.7', '0.4', '1.2', '1.6', '1.8', '11.83'], ['25', '2', '9.2', '4.8', '0.3', '1.2', '1.5', '0.3', '0.4', '0.1', '0.6', '1.1', '0.4', '12.07'], ['18', '0', '20.6', '4.7', '0.8', '2.8', '3.6', '4.1', '0.7', '0.7', '0.7', '0.8', '5.7', '14.30'], ['17', '1', '12.1', '2.4', '0.5', '0.9', '1.4', '1.8', '0.5', '0.0', '1.0', '1.2', '1.8', '4.50'], ['22', '1', '6.5', '1.8', '0.1', '0.8', '0.9', '0.3', '0.1', '0.2', '0.2', '0.5', '1.8', '5.15'], ['4', '0', '7.0', '1.5', '0.3', '1.5', '1.8', '0.8', '0.0', '0.3', '0.3', '0.5', '3.0', '9.78'], ['35', '', '', '111.2', '9.8', '36.3', '46.1', '28.1', '9.3', '5.0', '15.4', '20.4', '1.8', '']]

In [38]:
import pandas as pd

In [39]:
df = pd.DataFrame(player_total_list, index = player_names_list, columns = table_headings_list)

In [40]:
df.head()

,GP,GS,MIN,PTS,OR,DR,REB,AST,STL,BLK,TO,PF,AST/TO,PER
Stephen Curry,33,33,34.8,27.7,0.6,4.7,5.3,6.0,1.5,0.5,3.4,2.0,1.8,23.75
Andrew Wiggins,31,31,31.3,19.0,1.3,3.2,4.5,1.8,0.9,0.6,1.6,1.8,1.1,17.38
Jordan Poole,29,28,30.2,17.6,0.3,3.1,3.4,3.4,1.0,0.2,2.5,2.9,1.3,14.63
Damion Lee,25,2,20.8,8.4,0.3,2.8,3.1,1.0,0.4,0.1,0.6,1.6,1.6,10.86
Draymond Green,31,31,30.6,8.4,1.2,6.8,7.9,7.5,1.4,1.2,3.2,2.8,2.4,15.65
Otto Porter Jr.,30,3,21.3,8.2,0.9,4.0,4.9,1.4,0.9,0.5,0.6,1.3,2.5,15.90
Gary Payton II,34,5,16.2,7.7,1.1,2.3,3.4,0.8,1.2,0.2,0.5,1.6,1.5,21.03
Nemanja Bjelica,35,0,15.1,6.7,0.9,3.1,4.0,1.6,0.6,0.3,1.1,1.6,1.5,15.32
Quinndary Weatherspoon,1,0,14.0,6.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,4.0,0.0,15.59
Kevon Looney,35,35,19.5,6.0,2.3,4.0,6.3,1.5,0.5,0.8,0.7,2.7,2.2,15.43
Juan Toscano-Anderson,34,3,16.6,4.9,0.6,2.3,2.9,2.2,0.7,0.4,1.2,1.6,1.8,11.83
Jonathan Kuminga,25,2,9.2,4.8,0.3,1.2,1.5,0.3,0.4,0.1,0.6,1.1,0.4,12.07
Andre Iguodala,18,0,20.6,4.7,0.8,2.8,3.6,4.1,0.7,0.7,0.7,0.8,5.7,14.30
Chris Chiozza,17,1,12.1,2.4,0.5,0.9,1.4,1.8,0.5,0.0,1.0,1.2,1.8,4.50
Moses Moody,22,1,6.5,1.8,0.1,0.8,0.9,0.3,0.1,0.2,0.2,0.5,1.8,5.15
Jeff Dowtin,4,0,7.0,1.5,0.3,1.5,1.8,0.8,0.0,0.3,0.3,0.5,3.0,9.78
Total,35,,,111.2,9.8,36.3,46.1,28.1,9.3,5.0,15.4,20.4,1.8,

#### Glossary
**table_header**: This is a list of all the tags "< thead >" of a particular class as specified, wherever they appear in the HTML. This was found using the soup.find_all() method. The First "< thead >" index(0) contains the code for the first table names columns heading. The 2nd thead index(1) contains the headings for the data. The 3rd thead (2) index refers to the names head for the shooting splits table. The fourth thead contains index(3) contains the headings for this data. 

**table_header_row**: This is the specific header row which we have indexed from table_header.Only index(1) and index(3) are of use to us. So we have table_head[1] and and table_head[3] are useful to us and contain the headings for the data columns.

**table_header**:

**table_headings_list**: This is the final list of all the neccessary headings of our data and contains headings such as the Games Played (GP), Games Started (GS), Minutes played (MIN) and so on. We got this by looping through

### Shooting Stats Table - All Splits

We dont need to repeat the names again since we already have a list of the names. We just the need the headings of the new table and the data. The stats and the names are present inside the table_body variable which is a list with 4 elements. The first element of third elements of this list ie index(0) and index(2) are the players names repeated. Since we already have them from index(0) hence we only need the table_body[3] data now

In [41]:
#table_header[3]

In [42]:
table_header_row = table_header[3].tr

In [43]:
table_headings = table_header_row.find_all('th')

In [44]:
table_headings[0].span.a.text

'FGM'

In [45]:
table_headings_list2 = []
for heading in table_headings:
    table_headings_list2.append(heading.span.a.text)
    
table_headings_list2

['FGM',
 'FGA',
 'FG%',
 '3PM',
 '3PA',
 '3P%',
 'FTM',
 'FTA',
 'FT%',
 '2PM',
 '2PA',
 '2P%',
 'SC-EFF',
 'SH-EFF']

In [46]:
player_stats2 = table_body[3]

In [47]:
#player_stats2

In [48]:
player_rows_list2 = player_stats2.find_all('tr', class_='Table__TR Table__TR--sm Table__even')

In [49]:
single_player_stats2 = player_rows_list2[0].find_all('td', class_='Table__TD')

In [50]:
single_player_stats2[0].span

In [51]:
player_total_list2 = []
for row in range(len(player_rows_list2)):
    #print(row)
    single_player_stats2 = player_rows_list2[row]
    single_player_list2 = []
    for stats in single_player_stats2.find_all('td',class_='Table__TD'):
        try:
            single_player_list2.append(stats.span.text)
        except:
            continue
    #print(single_player_list)
    player_total_list2.append(single_player_list2)
    
print(player_total_list2)

[['8.9', '20.5', '43.4', '5.4', '13.5', '40.0', '4.5', '4.9', '92.0', '3.5', '7.1', '49.8', '1.350', '0.56'], ['7.1', '14.5', '48.7', '2.3', '5.4', '43.4', '2.5', '3.6', '69.0', '4.7', '9.2', '51.8', '1.307', '0.57'], ['6.1', '13.7', '44.3', '2.6', '7.6', '33.9', '2.9', '3.2', '90.2', '3.5', '6.1', '57.4', '1.285', '0.54'], ['3.1', '7.0', '43.8', '1.2', '3.4', '34.9', '1.1', '1.2', '87.1', '1.9', '3.6', '52.2', '1.199', '0.52'], ['3.4', '6.2', '54.7', '0.4', '1.2', '28.9', '1.3', '2.2', '59.7', '3.0', '5.0', '61.0', '1.359', '0.58'], ['3.0', '6.5', '46.9', '1.6', '4.0', '40.0', '0.5', '0.6', '78.9', '1.4', '2.5', '58.1', '1.263', '0.59'], ['3.1', '4.9', '63.5', '0.8', '1.8', '41.9', '0.7', '1.1', '59.0', '2.4', '3.1', '76.2', '1.563', '0.71'], ['2.4', '5.3', '45.7', '1.0', '2.5', '39.1', '0.9', '1.3', '67.4', '1.4', '2.8', '51.5', '1.266', '0.55'], ['3.0', '3.0', '100.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '3.0', '3.0', '100.0', '2.000', '1.00'], ['2.5', '4.6', '54.7', '0.0', '0.0', '0.0', '0.9', '1.6', '60.0', '2.5', '4.6', '55.0', '1.298', '0.55'], ['1.9', '3.8', '50.8', '0.3', '1.3', '25.6', '0.6', '1.1', '59.5', '1.6', '2.6', '63.2', '1.269', '0.55'], ['1.8', '3.6', '49.4', '0.4', '1.2', '29.0', '0.9', '1.6', '56.4', '1.4', '2.3', '60.3', '1.337', '0.54'], ['1.8', '4.2', '42.7', '0.6', '2.6', '23.9', '0.5', '0.7', '75.0', '1.2', '1.6', '72.4', '1.120', '0.50'], ['0.8', '2.9', '28.0', '0.6', '1.9', '34.4', '0.1', '0.1', '100.0', '0.2', '1.1', '16.7', '0.800', '0.39'], ['0.7', '2.2', '33.3', '0.2', '1.2', '14.8', '0.2', '0.3', '57.1', '0.5', '1.0', '57.1', '0.833', '0.38'], ['0.8', '1.5', '50.0', '0.0', '0.3', '0.0', '0.0', '0.0', '0.0', '0.8', '1.3', '60.0', '1.000', '0.50'], ['40.5', '85.7', '47.3', '14.9', '40.2', '37.0', '15.3', '20.6', '74.6', '25.7', '45.5', '56.3', '1.298', '0.56']]

In [52]:
df2 = pd.DataFrame(player_total_list2, index = player_names_list, columns = table_headings_list2)

In [53]:
df2.head()

,FGM,FGA,FG%,3PM,3PA,3P%,FTM,FTA,FT%,2PM,2PA,2P%,SC-EFF,SH-EFF
Stephen Curry,8.9,20.5,43.4,5.4,13.5,40.0,4.5,4.9,92.0,3.5,7.1,49.8,1.350,0.56
Andrew Wiggins,7.1,14.5,48.7,2.3,5.4,43.4,2.5,3.6,69.0,4.7,9.2,51.8,1.307,0.57
Jordan Poole,6.1,13.7,44.3,2.6,7.6,33.9,2.9,3.2,90.2,3.5,6.1,57.4,1.285,0.54
Damion Lee,3.1,7.0,43.8,1.2,3.4,34.9,1.1,1.2,87.1,1.9,3.6,52.2,1.199,0.52
Draymond Green,3.4,6.2,54.7,0.4,1.2,28.9,1.3,2.2,59.7,3.0,5.0,61.0,1.359,0.58

In [54]:
dfgsw = pd.concat([df, df2], axis=1, join="inner")

In [55]:
dfgsw.head()

,GP,GS,MIN,PTS,OR,DR,REB,AST,STL,BLK,...,3PA,3P%,FTM,FTA,FT%,2PM,2PA,2P%,SC-EFF,SH-EFF
Stephen Curry,33,33,34.8,27.7,0.6,4.7,5.3,6.0,1.5,0.5,...,13.5,40.0,4.5,4.9,92.0,3.5,7.1,49.8,1.350,0.56
Andrew Wiggins,31,31,31.3,19.0,1.3,3.2,4.5,1.8,0.9,0.6,...,5.4,43.4,2.5,3.6,69.0,4.7,9.2,51.8,1.307,0.57
Jordan Poole,29,28,30.2,17.6,0.3,3.1,3.4,3.4,1.0,0.2,...,7.6,33.9,2.9,3.2,90.2,3.5,6.1,57.4,1.285,0.54
Damion Lee,25,2,20.8,8.4,0.3,2.8,3.1,1.0,0.4,0.1,...,3.4,34.9,1.1,1.2,87.1,1.9,3.6,52.2,1.199,0.52
Draymond Green,31,31,30.6,8.4,1.2,6.8,7.9,7.5,1.4,1.2,...,1.2,28.9,1.3,2.2,59.7,3.0,5.0,61.0,1.359,0.58
Otto Porter Jr.,30,3,21.3,8.2,0.9,4.0,4.9,1.4,0.9,0.5,...,4.0,40.0,0.5,0.6,78.9,1.4,2.5,58.1,1.263,0.59
Gary Payton II,34,5,16.2,7.7,1.1,2.3,3.4,0.8,1.2,0.2,...,1.8,41.9,0.7,1.1,59.0,2.4,3.1,76.2,1.563,0.71
Nemanja Bjelica,35,0,15.1,6.7,0.9,3.1,4.0,1.6,0.6,0.3,...,2.5,39.1,0.9,1.3,67.4,1.4,2.8,51.5,1.266,0.55
Quinndary Weatherspoon,1,0,14.0,6.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,3.0,3.0,100.0,2.000,1.00
Kevon Looney,35,35,19.5,6.0,2.3,4.0,6.3,1.5,0.5,0.8,...,0.0,0.0,0.9,1.6,60.0,2.5,4.6,55.0,1.298,0.55
Juan Toscano-Anderson,34,3,16.6,4.9,0.6,2.3,2.9,2.2,0.7,0.4,...,1.3,25.6,0.6,1.1,59.5,1.6,2.6,63.2,1.269,0.55
Jonathan Kuminga,25,2,9.2,4.8,0.3,1.2,1.5,0.3,0.4,0.1,...,1.2,29.0,0.9,1.6,56.4,1.4,2.3,60.3,1.337,0.54
Andre Iguodala,18,0,20.6,4.7,0.8,2.8,3.6,4.1,0.7,0.7,...,2.6,23.9,0.5,0.7,75.0,1.2,1.6,72.4,1.120,0.50
Chris Chiozza,17,1,12.1,2.4,0.5,0.9,1.4,1.8,0.5,0.0,...,1.9,34.4,0.1,0.1,100.0,0.2,1.1,16.7,0.800,0.39
Moses Moody,22,1,6.5,1.8,0.1,0.8,0.9,0.3,0.1,0.2,...,1.2,14.8,0.2,0.3,57.1,0.5,1.0,57.1,0.833,0.38
Jeff Dowtin,4,0,7.0,1.5,0.3,1.5,1.8,0.8,0.0,0.3,...,0.3,0.0,0.0,0.0,0.0,0.8,1.3,60.0,1.000,0.50
Total,35,,,111.2,9.8,36.3,46.1,28.1,9.3,5.0,...,40.2,37.0,15.3,20.6,74.6,25.7,45.5,56.3,1.298,0.56

In [56]:
dfgsw.to_excel('WebScrapingNBA.xlsx', sheet_name='GSW')

### Storing Data in SQlite Database

In [57]:
import sqlite3

In [68]:
conn = sqlite3.connect('NBA Data.sqlite')
cur = conn.cursor()

In [69]:
cur.execute('DROP TABLE IF EXISTS NBA_Data_GSW')

In [70]:
cur.execute('CREATE TABLE NBA_Data_GSW (Player_name TEXT, GP INTEGER, GS INTEGER, MIN REAL, PTS REAL, ORB REAL, DR REAL)')

In [ ]:
for 


cur.execute('INSERT INTO NBA_Data_GSW (Player_name) VALUES ')

### Phoenix Suns

In [59]:
url2 = 'https://www.espn.in/nba/team/stats/_/name/phx'
r2 = uReq.get(url2)

In [60]:
r2.close()

In [61]:
html_page2 = r2.content

In [62]:
soup_phx = BeautifulSoup(html_page2, 'html.parser')

In [63]:
# Get the table headers
t1_header = soup_phx.find_all('thead', class_='Table__header-group Table__THEAD' )

In [65]:
t1_header_row = soup_phx.find('tr', {'class': 'Table__TR Table__even'})

In [ ]:
table_header_row = table_header[1].tr

In [ ]:
table_headings = table_header_row.find_all('th')

In [ ]:
table_headings[0].span.a.text

In [ ]:
table_body = soup2.find_all('tbody', class_='Table__TBODY')

In [ ]:
#print(soup2.find_all('tbody'))

In [ ]:
player_names1 = table_body[0]
player_stats1 = table_body[1]

In [ ]:
names_rows1 = player_names1.find_all('tr', class_='Table__TR Table__TR--sm Table__even')

In [ ]:
suns_player_names_list = []
for name_row in names_rows1:
    try:
        suns_player_names_list.append(name_row.td.span.a.text)
    except:
        continue
    
suns_player_names_list

In [ ]:
suns_player_names_list.append('Total')

In [ ]:
suns_player_rows_list = player_stats1.find_all('tr', class_='Table__TR Table__TR--sm Table__even')

In [ ]:
suns_single_player_stats = suns_player_rows_list[0].find_all('td', class_='Table__TD')

In [ ]:
suns_single_player_stats[0].span

In [ ]:
suns_player_total_list = []
for row in range(len(suns_player_rows_list)):
    #print(row)
    suns_single_player_stats = suns_player_rows_list[row]
    suns_single_player_list = []
    for stats in suns_single_player_stats.find_all('td',class_='Table__TD'):
        try:
            suns_single_player_list.append(stats.span.text)
        except:
            continue
    #print(single_player_list)
    suns_player_total_list.append(single_player_list)
    
print(suns_player_total_list)

In [ ]:
df3 = pd.DataFrame(suns_player_total_list, index = suns_player_names_list, columns = table_headings_list)

In [ ]:
#df3